header {
  position: sticky;
  top: 0;
  padding: 4px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #000;
  margin-bottom: 8px;
}
.container {
  max-width: 800px;
  margin: auto auto auto auto;
  padding: 15px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}
#buttonRow {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 16px;
  margin-bottom: 8px;
}
footer {
  margin-top: 20px;
  text-align: center;
}
